[submodule "HappyPolarAPI"]
	path = HappyPolarAPI
	url = https://github.com/DxTa/HappyPolarAPI
[submodule "HappyPolarAndroid"]
	path = HappyPolarAndroid
	url = https://github.com/DxTa/HappyPolarAndroid
[submodule "HappyPolarFrontend"]
	path = HappyPolarFrontend
	url = https://github.com/DxTa/HappyPolarFrontend
