[submodule "frontend"]
	path = frontend
	url = https://github.com/DxTa/HappyPolarFrontend.git
[submodule "android"]
	path = android
	url = https://github.com/DxTa/HappyPolarAndroid.git
[submodule "api"]
	path = api
	url = https://github.com/DxTa/HappyPolarAPI.git
